doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')


  body


    .newTask(style='display:none')
      input(type='text',id='newTaskInput', placeholder='New Task...')


    
    #container.container
      
      .top-panel Oh Hi
      

      .container-left

        header
          h1 Weekly Tasks

        nav
          .item.onDeck.od
            h3 On Deck
            ul.sortable
              li 
                span Nothing on deck


          .item.backBurner.bb
            h3 Back Burner
            ul.sortable
              li 
                span Nothing on the backburner




      .week
        .day.mon
          h2 Monday
          ul.sortable


        .day.tue
          h2 Tuesday
          ul.sortable


        .day.wed
          h2 Wednesday
          ul.sortable


        .day.thu
          h2 Thursday
          ul.sortable


        .day.fri
          h2 Friday
          ul.sortable



    script(src="js/lib/jquery.js")
    script(src="js/lib/jquery-ui.js")
    script(src="/shared/underscore.js")
    script(src="/shared/backbone.js")
    script(src="js/app.js")

