doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/main.css')

  body

    .newTask(style='display:none')
      input(type='text',id='newTaskInput', placeholder='New Task...')


    h1 Weekly Tasks
    #container.container
      
      .container-left
        .onDeck
          p On Deck
          ul


        .backBurner
          p Back Burner
          ul
            


      .week
        .day.mon
          h2 Monday
            ul 


        .day.tue
          h2 Tuesday
            ul 


        .day.wed
          h2 Wednesday
            ul 


        .day.thu
          h2 Thursday
            ul 


        .day.fri
          h2 Friday
            ul 






    script(src="js/lib/jquery.js")
    script(src="js/app.js")